<!DOCTYPE HTML>
<html lang="en">  
  <head>

    <%- include('../layout/head') %>

    <title>What To Wear - [Detail view]</title>

  </head>

  <body>
    <header>
      <!-- put nav.ejs partial here -->
    </header>
    <main>
      <h1>What To Wear</h1>


      <p>Wx Summary: <%= summary %></p>

    </main>
    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/public/js/app.js"></script>
  </body>
</html>
