<!DOCTYPE HTML>
<html lang="en">  
  <head>

    <%- include('../layout/head') %>

    <title>What To Wear - Home</title>

  </head>

  <body>
    <header>
      <%- include('../layout/nav') %>
    </header>
    <main>
      <h1 class="page-header">What To Wear</h1>

      <img class="home-logo" src="assets/clothing-icons/svg/umbrella.svg" alt="umbrella logo" />

      <div class="form-container">
        <form class="location-form" action="/getWeather" method="GET">
          <input type="text" name="location" placeholder=" Enter location" required>
          <button type="submit">Submit</button>
        </form>
      </div>


      

    </main>
    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
