/* PAGE TITLES */
h1 {
  margin-top: 40px;
  font-size: 56px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

/* NAVIGATION BAR */
nav {
  height: 40px;
  background-color: #CC98E5;
  color: black;

  display: flex;
  align-items: center;
  padding-left: 10%; /* << to push everything off the left side */
}

.logo-container {
  /* height: 40px; */
  height: 30px;
  width: 175px;
  border: 1px solid black;
  display: flex;
  
}

.logo-container p {
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  width: 140px;
  padding-left: 10px;
  padding-top: 5px;


}

.site-logo {
  width: 27px;
  padding-top: 2px;
  padding-left: 5px;
}

nav ul {
  display: flex;
}

nav ul li {
  padding-left: 10vw;
  
}



nav a {
  color: black;
  text-decoration: none;
}

nav ul li a:visited {
  color: black;
  text-decoration: none;
  background-color: coral;
}

