/* Umbrella logo on Home Page */
.home-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  height: 150px;
  margin-top: 50px;
}


/* Location Form on Home Page */
.form-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.form-container input {
  height: 40px;
  font-size: 20px;
  border: 2px solid #3c94bd;
  background-color: rgb(20, 20, 20);
  color: #3c94bd;
  border-radius: 4px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3c94bd;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #3c94bd;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #3c94bd;
}

.form-container button {
  background-color: rgb(20, 20, 20);
  border: 2px solid #CC98E5;
  color: #CC98E5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
}




/* Clothing Results */
.clothing {
  margin-left: 40%
}

.clothing-icons {
  width: 100px;
}

.jackets {
  width: 210px;
}

.hats img {
  margin-left: 15px;
  width: 75px;
}

#trousers {
  width: 120px;
  margin-left: -10px;
}

#shorts {
  width: 80px;
  margin-left: 10px;
  margin-bottom: 50px;
}

.shoes img, .accessories img {
  margin-left: 17px;
  width: 65px;
}


/* Weather Summary Text */

.weather-summary {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #3c94bd;
}




/* ==================================================================================================== */
/* ==================================== Mobile View =================================================== */
/* ==================================================================================================== */

@media only screen and (max-width: 760px) {

  /* Umbrella logo on Home Page */
  .home-logo {
    height: 20vw;
    margin-top: 5vw;
  }


  /* Location Form on Home Page */
  .form-container {
    margin-top: 25vw;
    display: flex;
    flex-direction: column;
  }

  .form-container input {
    height: 12vw;
    width: 100%;
    font-size: 6vw;
    letter-spacing: 1px;    
  }


  .form-container button {
    padding: 3vw;
    font-size: 6vw;
    margin-top: 5vw;
    margin-left: 25%;
    width: 50%;
  }




  /* Clothing Results */
  .clothing {
    margin-left: 20%;
  }
  
  .clothing-icons {
    width: 17vw;
  }
  
  .jackets img {
    width: 17vw;
  }
  
  .hats img {
    margin-left: 4vw;
    width: 12vw;
  }
  
  #trousers {
    width: 22vw;
    margin-left: -2.5vw;
  }
  
  #shorts {
    width: 12vw;
    margin-left: 2.5vw;
    margin-bottom: 8vw;
  }
  
  .shoes img, .accessories img {
    margin-left: 5vw;
    width: 12vw;
  }



  /* Weather Summary Text */

  .weather-summary {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #3c94bd;
  }
}