<nav>
  <div class="logo-container">
    <a href="/"><img class="site-logo" src="assets/clothing-icons/svg/umbrella.svg" alt="umbrella logo" /></a>
    <a href="/"><p>What to Wear</p></a>
  </div>
  <!-- <ul>
    <li><a href="/">HOME</a></li>
    <li><a>ABOUT</a></li>
    <li><a>FOO</a></li>
    <li><a>BAR</a></li>
  </ul> -->
</nav>