<nav>


  <div class="nav">

    <div class="logo-container">
      <img src="assets/clothing-icons/svg/umbrella.svg" alt="umbrell logo" />
    </div>

    <div class="main-nav">
      <a class="hamburger-nav"></a>
      <ul class="menu">
        <a href="/"><li>Home</li></a>
        <a href=""><li>About</li></a>
        <a href=""><li>Portfolio</li></a>
      </ul>
    </div>

  </div>


</nav>